
@model PizzaShoppe.Domain.Concrete.pizzaEntities

@{
    ViewBag.Title = "List";
}
<link href="~/Content/rotating_card/bootstrap.css" rel="stylesheet" />
<link href="~/Content/rotating_card/rotating-card.css" rel="stylesheet" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<br />
<br />
<br />
<br/>
<div class="container">
    <div class="container">
        <div class="col-sm-10 col-sm-offest-1">
            <br />
            @foreach (var app in Model.MenuItems.ToList())
            {
                <div class="col-sm-4">
                    <div class="card-container">
                        <div class="card">
                            @switch (app.Name)
                                {
                                    case "Monkey Wings":
                                        <text>
                            <div class="front">
                                <div class="cover">
                                    <img src="~/img/Monkey Wings.JPG" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">@app.Name</h3>
                                        <p class="profession">Giant 2 Jointed</p>
                                        <p class="text-center">@app.Description</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> Flip to see prices!
                                    </div>
                                </div>
                            </div>
                                        </text>
        break;
    case "Crispy Cauliflower":
                        <text>
                            <div class="front">
                                <div class="cover">
                                    <img src="~/img/fried_cauliflower.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">@app.Name</h3>
                                        <p class="profession">Half orders avaliable</p>
                                        <p class="text-center">@app.Description</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> Flip to see prices!
                                    </div>
                                </div>
                            </div>
                        </text>
        break;
    case "Onion Rings":
                        <text>
                            <div class="front">
                                <div class="cover">
                                    <img src="~/img/Onion_rings.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">@app.Name</h3>
                                        <p class="profession">Half orders avaliable</p>
                                        <p class="text-center">@app.Description</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> Flip to see prices!
                                    </div>
                                </div>
                            </div>
                        </text>
        break;
    case "Garlic Provolone Breadsticks":
                        <text>
                            <div class="front">
                                <div class="cover">
                                    <img src="~/img/Breadsticks.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">@app.Name</h3>
                                        <p class="profession">Deliciously Cheesy</p>
                                        <p class="text-center">@app.Description</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> Flip to see prices!
                                    </div>
                                </div>
                            </div>
                        </text>
        break;
    case "Cyclops 2.0":
                        <text>
                            <div class="front">
                                <div class="cover">
                                    <img src="../img/pizza-1452329_640.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">@app.Name</h3>
                                        <p class="profession">A new take on the classic</p>
                                        <p class="text-center">@app.Description</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> Flip to see prices!
                                    </div>
                                </div>
                                <div class="back">
                                  
                                </div>
                            </div>
                        </text>
        break;
    case "Caesar Salad":
                        <text>
                            <div class="front">
                                <div class="cover">
                                    <img src="~/img/caesar_salad.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">@app.Name</h3>
                                        <p class="profession">The salad you deserve</p>
                                        <p class="text-center">@app.Description</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> Flip to see prices!
                                    </div>
                                </div>
                            </div>
                        </text>
        break;
    default:
                        <text>
                            <div class="front">
                                <div class="cover">
                                    <img src="../img/pizza-1452329_640.jpg" />
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">@app.Name</h3>
                                        <p class="text-center">@app.Description</p>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-mail-forward"></i> Flip to see prices!
                                    </div>
                                </div>
                            </div>
                        </text>
        break;
}
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">Made fresh to Order!</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Sizes</h4>
                                    <p class="text-center">Our appetizers come in small or large</p>
                                    @if (app.Price == 0)
                                    {
                                        <text>
                                            <div class="stats-container">
                                                <div class="text-center">
                                                    <h4>@app.Price.ToString("c")</h4>
                                                    <a href="#">Click to order Small @app.Name</a>
                                                </div>
                                            </div>
                                        </text>
                                    }
                                    else if (app.Price == 0)
                                    {
                                        <text>
                                            <div class="stats-container">
                                                <div class="text-center">
                                                    <h4>@app.Price.ToString("c")</h4>
                                                    <a href="#">Click to order Large @app.Name</a>
                                                </div>
                                            </div>
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            <div class="stats-container">
                                                <div class="stats-right">
                                                    <h4>Small</h4>
                                                    <a href="#">@app.Price.ToString("c")</a>
                                                </div>
                                                <div class="stats-left">
                                                    <h4>Large</h4>
                                                    <a href="#">@app.Price.ToString("c")</a>
                                                </div>
                                            </div>
                                        </text>
                                    }
                                </div>
                            </div>
                            <div class="footer">
                            </div>
                        </div> <!-- end back panel -->
                        </div> <!-- end card -->
                        </div>
                    </div>
                    }
                </div>
        </div>
</div>