@using PizzaShoppe.Domain.Entities;
@model PizzaShoppe.WebUI.HtmlHelper.OrderStruct
@{
    ViewBag.Title = "List";
}

@foreach (var app in Model.Appetizers.AppetizersList)
{
    <div>
        <h3>@app.Name</h3>
        @app.Description
        <h4>@app.SmallPrice.ToString("c")</h4>
        <h4>@app.LargePrice.ToString("c")</h4>
    </div>
}
<br/>
<br/>
@foreach (var bev in Model.Beverages.BeveragesList)
{
    <div>
        <h3>@bev.Name</h3>
        @bev.Description
        <h4>@bev.Price.ToString("c")</h4>
    </div>
}
<br />
<br />
@foreach (var crust in Model.Crusts.CrustsLists)
{
    <div>
        <h3>@crust.Name</h3>
        @crust.Description
        <h4>@crust.SmallPrice.ToString("c")</h4>
        <h4>@crust.MedPrice.ToString("c")</h4>
        <h4>@crust.LargePrice.ToString("c")</h4>
    </div>
}
<br />
<br />
@foreach (var pizza in Model.Special.PizzasLists)
{
    <div>
        <h3>@pizza.Name</h3>
        @pizza.Description
        <h4>@pizza.SmallPrice.ToString("c")</h4>
        <h4>@pizza.MedPrice.ToString("c")</h4>
        <h4>@pizza.LargePrice.ToString("c")</h4>
    </div>
}
<br/>
<br/>
@foreach (var top in Model.Toppings.ToppingsLists)
{
    <div>
        <h3>
            @top.Name
        </h3>
            @top.Description
        <h4>
            @top.Price.ToString("c")
        </h4>
    </div>
}
