@using PizzaShoppe.WebUI.Models
@model CartIndexViewModel
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/rotating_card/bootstrap.css" rel="stylesheet" />
<link href="~/Content/rotating_card/rotating-card.css" rel="stylesheet" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <br />

    <div class="card" style="width: 114rem;">
        <div class="card-block">
            <h1><small class="subtitle">Ordered Items:</small></h1>
        </div>
        <ul style="list-style-type: none;">
            @foreach (var cart in Model.Cart.Lines)
            {
                <li class="list-group-item" style="text-align: left;">@cart.menuItem.Name X @cart.Quantity<span style="float: right;">@cart.SubTotal.ToString("c")</span></li>
            }
            <li></li>
        </ul>

        <div class="card-block">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a><span style="float:right">Total: @Model.Cart.ComputeTotalValue().ToString("c")</span>
                </li>
            </ul>
         </div>
    </div>
</body>
